[2012-04-29 09:51] steffmeister opened #1 "searchMovie() should apply language set"
Hi

I think the method searchMovie() should apply the language set by the method setLang() and in the end it should look like this:

public function searchMovie($movieTitle){
        $movieTitle="query=".urlencode($movieTitle);
        return $this->_call("search/movie",$movieTitle,$this->_lang);
}

What do you guys think about that?

Regards.

[2012-04-29 09:54] steffmeister opened #2 "Object created in class php file"
Hi

Why is in tmdb_v3.php, at line 50 already a object created? Shouldn't this be done by the user in his php files? I just got an error just by including the tmdb php, which isn't really good I think.

I suggest removing line 49 and 50 of tmdb_v3.php.
What do you guys think about that?

Regards.

[2012-04-29 10:03] steffmeister opened #3 "Please include this method: latestMovie()"
hi

this is an implementation of the latest movie api call, http://help.themoviedb.org/kb/api/latest-movie:

/**
    \* Latest Movie
    \* http://api.themoviedb.org/3/latest/movie?api_keyf
    \* @param
    */
public function latestMovie() {
    return $this->_call('latest/movie','');
}

would be great if this could be added to this library.

Regards.

[2012-04-29 14:00] steffmeister opened #4 "Please include this method: nowPlayingMovies()"
Hi

please include the following method in tmdb_v3, http://help.themoviedb.org/kb/api/now-playing-movies:

I wrote it the following way:

/**
    \* Now Playing Movies
    \* http://api.themoviedb.org/3/movie/now-playing?api_keyf&language&page
    \* @param integer $page
    */
public function nowPlayingMovies($page=1) {
    return $this->_call('movie/now-playing', 'page='.$page);
}

Regards.

[2012-07-07 01:54] werozen opened #5 "Notice: Undefined variable"
Hello,

I'm using your library and i think i found an issue;

I created a new file

[code]

and there is some trailer info under the youtube array, as you can see here

[code]

but using the movieTrailer($idMovie) function included on tmdb_v3.php there is not, instead i change the movieTrailer original function to:

[code]

it returns null and a "Notice: Undefined variable: trailer " on tmdb_v3.ph

[2012-09-24 05:59] kevhonda opened #6 "Unable to read configuration, verify that the API key is valid"
I've tried everything (keeping in mind im a total noob too json) even using the example file i get "Unable to read configuration, verify that the API key is valid" I'm using the API straight from the website.

[2012-11-07 06:39] #1 closed, assigned to pixelead0

[2012-11-07 06:43] #2 closed, assigned to pixelead0

[2012-11-07 06:44] #3 closed, assigned to nobody

[2012-11-07 06:51] #4 closed, assigned to pixelead0

[2012-11-07 06:57] #6 closed, assigned to nobody

[2012-11-07 06:57] #5 closed, assigned to pixelead0

[2013-04-26 16:41] seanjames opened #7 "Example File Not Working"
I'm getting this error when I use the example file (with my API Key)

Parse error: parse error, expecting `T_FUNCTION' in /Users/sjm/Sites/howt/tmdb_v3.php on line 71

[2013-06-12 19:52] JeroenDelbroek opened #8 "Wrong code in readme file"
Hello,

The code in the readme file about the search function is wrong.
If I use :

$searchTitle = $tmdb_V3->searchMovie('$title');

its searching for movies with the title "$title".
The code above should be replaced with:

 $searchTitle = $tmdb_V3->searchMovie($title);

The title variable isn't between quotes anymore, and thus looking for movies with their title equal to the entered value in $tit

[2013-12-16 15:11] webiummedia opened #9 "Great class!"
just wanted to say that this is a great class and i am enjoying playing with it! I have one sugestion thought ... it would be great if you could add the option to turn on and off the output of the result in the class initialisation like this:

// Init tmdb with debug turned off
$tmdb_V3 = new TMDBv3($_CONFIG['api_key'], false);

Keep up the good work bro ;-)

[2013-12-17 03:35] #9 closed, assigned to pixelead0

[2014-06-03 05:02] tvstreamscript opened #11 "Tv shows"
this class is only for movies ?
i need also for tvshows

[2014-08-08 22:55] #8 closed, assigned to nobody

[2014-08-25 02:59] tdguchi opened #13 "director name and other fields not picked"
Hi, i have tried you php script... but i couldnt get some some fields, like as director or the released year

which changes could I made to get the director name?

thanks

[2014-08-27 14:04] #13 closed, assigned to nobody

[2014-08-27 14:08] #7 closed, assigned to nobody

[2015-01-17 18:48] Alvaroctal commented on #11
I was looking for the same, so I forked the project, changed a bit the usage and now supports (easily) TVShow, is still under development and I'm planing to add some things, but TV Shows seems to work fine.
[https://github.com/Alvaroctal/TMDB-PHP-API](https://github.com/Alvaroctal/TMDB-PHP-API)

[2015-02-20 23:55] nashornalarm opened #18 "Find by IMDB ID"
hello
i have a short question
is it possible to implement a search by imdb id?
on https://www.themoviedb.org/documentation/api is a "/find" method that can use for this

[2015-03-02 12:00] Alvaroctal commented on #18
Here you have https://github.com/Alvaroctal/TMDB-PHP-API/releases/tag/Version0.3

[2015-03-10 14:23] gc-017 opened #19 "Unable to read configuration, verify that the API key is valid"
API is vaild, but i dont know why i get this error "Unable to read configuration, verify that the API key is valid" but only on free hosting. Local host works normaly (I am creating site only for my personal use).
When i modified line checking api key i got error that say its invaild argument for foreach, but when i clicked on check request its everything there.

Dont know what more to say...
http

[2015-03-12 14:14] Alvaroctal commented on #19
Doesn't seems to be a wrapper related issue. Maybe you should try posting in the [TMDB Forum](https://www.themoviedb.org/talk) in the API support.
But probably, hostinger servers are banned from the API.

tip: don't use hostinger in general, is shit.

[2015-03-13 10:04] gc-017 commented on #19
Ok, thanks. Would you recommend me some free servers that i can try? Because as i previously said, at this moment this is only for me and in the future it will be extended to max 3-4 people, so paid hosts are waste for this.

[2015-04-23 08:04] baltazor5000 opened #22 "In the README you have bug"
"$languaje = 'es';"
need:
"$language = 'es';"

because you used "$language" in "$tmdb = new TMDB($apikey, $language);"

[2015-05-16 06:31] tnsws opened #23 "I want add some function"
I want add some function, may I to do this?
Sorry, I poor in english

[2015-06-12 20:34] ibrahimmumcu opened #25 "How can I get imdb id of show?"
<?php
$idTVShow = $_GET['id'];
$tvShow = $tmdb->getTVShow($idTVShow);
print_r($tvShow);
?>

This code doesn't return any imdb id. How can I get it?

[2015-06-12 22:27] apprecht commented on #25
As I know there is now way to get the IMDB-ID you can only search by it, but it wont be part of the output of this API

[2015-06-15 05:59] ibrahimmumcu commented on #25
Ops! That's sad :(

[2015-06-15 05:59] #25 closed

[2015-06-26 13:52] tdguchi opened #26 "how to get runtime"
Hi, i want to know how can i get the movie runtime with the api

And, as an another question... how can a I get a full view of the web? I mean, a php file which gets all the info about a movie

thanks

[2015-07-03 15:09] chrishiam commented on #26
This doesn't seem possible at the moment.

https://www.themoviedb.org/talk/556f7dd6c3a3681071000a3c

[2015-07-03 15:15] chrishiam opened #27 "getPopularMovies seems to be broken"
Not sure if I'm doing it wrong. Here's my code.

[code]

Replacing `getPopularMovies` with `nowPlayingMovies` displays results.

[2015-07-03 15:28] chrishiam commented on #27
I fixed this by copying the following code:

[code]

from [here](http://code.octal.es/php/tmdb-api/source-class-TMDB.html#464-481) and pasting it into my `tmdb-api.php` file. It seems the files on here and the ones in the documentation differ.

[2015-07-03 15:28] #27 closed

[2015-07-17 15:02] pixelead0 commented on #22
Thanks

[2015-07-17 15:02] #22 closed

[2015-07-17 15:05] pixelead0 commented on #23
[EN] Sure you can add features , creates a fork and then make a pull request

[ES] Claro que puedes agregar funciones, crea un fork y despues haz un pull request.

[2015-07-17 15:31] #23 closed

[2015-07-17 16:20] #18 closed

[2015-07-17 16:20] #19 closed

[2015-07-17 16:21] #26 closed

[2015-07-24 21:56] orig921 opened #28 "List Action movies"
How can I listing Action movies by release date and popularity?

I tried this one but I got error:
[code]

(Warning: Invalid argument supplied for foreach() in /inc/tmdb-api.php on line 259)

[2015-07-28 20:24] wuhaa11 opened #29 "Error when running the example code"
Hi,

First off thanks for this wonderful script. I'm getting this issue when testing the examples/moviesExample.php.

 `Parse error: syntax error, unexpected '[' in /home/main/www/bot/php/tmdb/tmdb/data/Movie.php on line 108 `

The code for this error is:

`107         public function getTrailer() {`
`108                 return $this->getTrailers() ['youtube'][0]['source'];`
`109         }`

I thi

[2015-08-03 18:13] pixelead0 commented on #28
Please try:
[code]

[2015-08-03 18:14] #28 closed

[2015-08-03 18:23] pixelead0 commented on #29
Try with:
[code]

[2015-08-03 18:24] #11 closed

[2015-08-03 18:24] #29 closed

[2015-12-18 15:08] patown opened #30 "RESTAPI-testplan.class.php-createFromObject-Undefined variable: api_key"

[2016-01-27 10:51] joseska opened #32 "Es posible buscar una pelicula con el nombre y el año?"
Es posible buscar una pelicula por el nombre y el año?

Gracias....

[2016-01-27 11:46] Alvaroctal commented on #32
De acuerdo con la [api](http://docs.themoviedb.apiary.io/#reference/search/searchmovie), si es posible. Pero habría que añadírselo a la librería.

un saludo

[2016-01-28 04:33] pixelead0 commented on #32
En:
[code]

Intenta agregando &year en $result:

`$result = $this->_call('search/movie', 'query='. urlencode($movieTitle) . '&year=2009', $this->getLang());
`

Tendrías que crear una funcion similar a getLa

[2016-01-28 04:41] #30 closed

[2016-01-28 13:48] joseska commented on #32
Gracias, me sirvió de mucho. al final quedo así:
public function searchMovie2($movieTitle, $movieYear){

		$movies = array();

		// $result = $this->_call('search/movie', 'query='. urlencode($movieTitle), $this->getLang());
        //modificado SKA
        $result = $this->_call('search/movie', 'query='. urlencode($movieTitle) . '&year='.urlencode($movieYear), $this->getLang());

		foreach($result

[2016-01-28 16:59] #32 closed

[2016-07-13 09:32] cyril94440 opened #38 "search/multi"
Hi there,

thanks for this awesome lib.

However, I need to use search/multi but can't find any implementation. Any workaround?

Thanks

[2016-09-23 20:22] orig921 opened #39 "Display Popular movies"
How can I display title, release date and poster of all popular movies from first page?

[2016-09-23 21:13] #39 closed

[2016-10-05 18:31] orig921 opened #40 "List movie genres in link"
Hi!
I tried: "echo $movie->getGenres()" and a got: "Array".
How can I list genres of a link as a link?
I want to list genres names as a link. The link href is the genre id.

[2017-01-20 01:55] kirkdm opened #41 "trailers are always empty"
throws error Undefined index: trailers when calling movie->getTrailers()

[2017-01-20 13:58] Alvaroctal commented on #41
hi,

Maybe you are [iterating](https://github.com/pixelead0/tmdb_v3-PHP-API-/blob/master/examples/movies/findMovie.php) over a search? Keep in mind that trailers attribute is only loaded when you [get](https://github.com/pixelead0/tmdb_v3-PHP-API-/blob/master/examples/movies/infoMovie.php#L11)  a Movie by its ID.

[2017-06-17 13:25] slaymantis opened #44 "Warning: Illegal string"
Hi I seem to get these errors when running the example files

Warning: Illegal string offset 'apikey' in /www/sites/tmdb/wwwroot/controller/classes/config/Configuration.php on line 42

Warning: Illegal string offset 'lang' in /www/sites/tmdb/wwwroot/controller/classes/config/Configuration.php on line 43

Warning: Illegal string offset 'adult' in /www/sites/tmdb/wwwroot/controller/classes/config/Co

[2017-06-18 12:30] bogdanfinn commented on #44
In the ./examples/index.php file try to change the following line:

` $tmdb = new TMDB($apikey, 'en', true);`
to
` $tmdb = new TMDB();`

make sure to add you api key under ./configuration/default.php

The TMDB Class expects an array as constructor parameter. In the example file the Class is instantiated with 3 parameters for the constructor. If you pass no config-array as a parameter the class sho

[2017-06-18 14:50] bogdanfinn commented on #40
The `$movie->getGenres()` function returns an array of `Genre` Objects or `null`.

You have to iterate over the array and build the link yourself. For example:
`
foreach($movie->getGenres() as $genre){
     echo '<a href="https://www.themoviedb.org/genre/'.$genre->getId().'">'. $genre->getName() .'</a>';
}
`

As far as i know you only get the Genres when you request Information for a specific movi

[2017-06-18 21:15] #38 closed

[2017-06-18 21:15] #44 closed

[2017-08-30 01:23] yordanoff opened #46 "Get Release Dates"
Hello! Is it possible to get the release dates for different countries like in this [example](https://developers.themoviedb.org/3/movies/get-movie-release-dates)?

[2017-09-05 15:09] veronicaginger opened #47 "Where to initialize class and code to input and call?"
I really frustrated in how to use the api wraper on Datalife engine. Any documentation or tutorial how to initialize it?

I already try to initialize the class in engine"/inc/addnews.php" ( initialize the class like this...

include ENGINE_DIR . '/engine/modules/tmdb-api.php'
// if you have a $conf array - (See LIB_ROOT/configuration/default.php as an example)
    $tmdb = new TMDB($conf);
And put

[2017-09-05 21:55] bogdanfinn commented on #47
Hey, i don't know the Datalife Engine CMS System, so i don't know how to add PHP Code to this CMS System.

Do you receive any error messages? Are your code gets executed, when you visit the page where you implemented the API-Wrapper?

[2017-09-05 23:57] veronicaginger commented on #47
i can't executed my code and i don't know where the problem is.
first i initialize the class in "public/engine/modules/addnews.php"

then i upload "tmdb-php.api" and all folder(example, controller, and configuration) in "public/engine/modules/"

and then start edit "public/engine/inc/addnews.php" but i don't know how to make the input code and call code.
this the code format looks like
![screensho

[2017-09-06 11:10] bogdanfinn commented on #47
Looks like you inserted the code into a module or plugin of your CMS system which renders a different topic an never calls the tmdb-api-wrapper functionality.

First of all, we currently don't know what is your goal. The addNews plugin/module seems to be able to create or update news for you CMS system. What should the tmdb-api-wrapper should do here?

Maybe you should look for a tutorial or somet

[2017-09-06 13:28] veronicaginger commented on #47
i want to keep the form like this.
![screenshot_33](https://user-images.githubusercontent.com/31661940/30114318-b5f59880-9341-11e7-98d1-355f38715e8d.png)

and use this Repository  to fetch the TMDB data. is it possible?

[2017-09-07 17:37] webstractions commented on #47
You may also want to look at a similar project for a WordPress plugin. Charlie Merland's WPMovieLibrary handles importing TMDB data into the form via AJAX. His repository is on [Github ](https://github.com/wpmovielibrary/wpmovielibrary/).

One caveat, he does not use the entire library from this repository. He opted to pull just the Movie API and a few supporting classes to get the job done. He ha

[2017-09-13 11:39] asifagaria opened #48 "how to get crew for movie Persons"
how to get crew for movie Persons

[2017-09-13 12:09] bogdanfinn commented on #48
For now you can access the crew or the cast of a movie by this sample code:

`$movie->get('credits')['cast']`
`$movie->get('credits')['crew']`

This Methods return arrays with Data for Person Objects.
I will add functionality to the Movie Class in a Pull Request for accessing these information with a getter Function returning Person Objects.

[2017-09-13 12:41] bogdanfinn commented on #48
@asifagaria When the Pull Request is accepted you can call getCast() or getCrew() on a detailed Movie or TvShow Object.

[2017-09-13 13:31] bogdanfinn commented on #46
Without modification you should be able to get the releasedates by modifiying your configuration and append ''
`$cnf['appender']['movie'] = array('trailers', 'images', 'credits', 'translations', 'reviews', 'release_dates');`

After that you can access the data array by the get Method for a detailed movie object:
`$movie->get('release_dates')['results'];`

I can add functionality to access the rele

[2017-09-13 15:53] webstractions commented on #48
Nice addition!

Not to be nit-picky though. Seems like a little refactoring might be in order. May I suggest using a base data controller? Looks like there several common methods in both the Movie and TV apis.

[2017-09-13 16:34] bogdanfinn commented on #48
@webstractions
Yeah it was only a quick solution. Refactoring might be in order. You are right.

[2017-09-13 18:05] asifagaria commented on #48
Please make a example file

[2017-09-13 18:17] webstractions commented on #48
@asifagaria With a little patience, you will see it in the next commit. I just noticed @bogdanfinn  added an example in the PR he is working on.

[2017-09-13 18:19] bogdanfinn commented on #48
@webstractions is right. I added an example for cast and crew. ;)

[2017-09-14 06:49] asifagaria opened #50 "how to get crew and cast picture in infomovie.php"
Best API
Hello Sir please need sum help to get picture for persons
how to get crew and cast picture in infomovie.php

[2017-09-14 07:22] bogdanfinn commented on #50
After https://github.com/pixelead0/tmdb_v3-PHP-API-/pull/49 is accepted you can get the crew and cast picture the way it is described in the infoPerson.php Exmaple file.

By now you can access the crew and cast data from a movie with my comment in:
https://github.com/pixelead0/tmdb_v3-PHP-API-/issues/48

When you iterating over the crew or the cast data you can access the picture by accessing the

[2017-09-14 07:37] asifagaria commented on #50
Thanks For replay
create a example  file please

[2017-09-14 07:49] bogdanfinn commented on #48
@webstractions @asifagaria
I refactored the Movie and the TVShow classes with a base class for the same methods. Later we should think about refactoring the other classes (Episode, Season, Person, etc.) but i think that should be in another PR. Also we should add some more checks to avoid possible exceptions.

I also added an example for accessing cast and crew pictures from movie and tvshow objec

[2017-09-14 07:54] asifagaria commented on #50
Thanks
I Do it
but u make the all fix in example files for new users

[2017-09-14 07:56] bogdanfinn commented on #50
Sorry i do not understand what you want :-(

[2017-09-14 08:05] asifagaria commented on #50
$movie->get('credits')['cast']
$movie->get('credits')['crew']

$castArray = $movie->get('credits')['cast'];

foreach($castArray as $castData){
$picturePath = $castData['profile_path'];
}

the all classes files

[2017-09-14 08:10] bogdanfinn commented on #50
I think you should wait for the Pull Request. Then it would be all clear.

This code sample i described is only a current workaround for accessing the data you want. After the PR it will be more easy to access the data.

[2017-10-20 15:30] #47 closed

[2017-10-20 17:08] veronicaginger opened #51 "Director return show "array" and cast return only 1 data"
hello, I get a little problem here.
I try to call getDirectorIds() and they return in **array**. and when i call Cast its only returned 1 data.
you can take a look like this image below.
The first question is how to return the director into **name** and not the **id** or **array**(ex:Don joe).
The second question is how to return all the **cast name** with separator ", " (ex:jhonny deep, keanu rea

[2017-10-22 14:43] veronicaginger commented on #51
solved!! i just have to use `echo implode(" , ",$cast_names);` not a `return $credits['cast'][0]['name'];`

[2017-10-22 14:43] #51 closed

[2018-03-03 08:55] asifagaria opened #52 "examples not working api problem"
solve it
examples not working API problem

[2018-03-03 15:44] pixelead0 commented on #52
what's the error?

[2018-03-03 17:44] asifagaria commented on #52
this api script inside examples folder the are not working default movies people search tvshows

[2018-03-04 09:55] bogdanfinn commented on #52
Could you please provide a detailed error message or a screenshot of the error you receive when running the example script?

[2018-03-04 10:50] bogdanfinn commented on #52
Please check if you set you api key for the tmdb api correctly in this file:
https://github.com/pixelead0/tmdb_v3-PHP-API-/blob/master/configuration/default.php

In line 8 enter you api key:
`$cnf['apikey'] = '';`

Without you personal api key the examples not working.

To register a new api key follow the steps described on this page:
https://developers.themoviedb.org/3/getting-started/introducti

[2018-03-05 06:27] asifagaria commented on #52
thanks solve this

[2018-03-05 06:27] asifagaria opened #53 "how to get backdrop poster"
how to get backdrop poster

[2018-03-05 06:41] asifagaria commented on #53
ok i solve this

[2018-03-05 08:31] bogdanfinn commented on #53
@pixelead0 Issue can be closed.

[2018-03-05 08:31] bogdanfinn commented on #52
@pixelead0 Issue can be closed.

[2018-03-05 08:33] bogdanfinn commented on #50
@pixelead0 Issue could be closed, because of the mentioned PR

[2018-03-05 08:33] bogdanfinn commented on #48
@pixelead0 Issue can be closed, because of the merged PR.

[2018-03-05 21:32] #50 closed

[2018-03-05 21:34] #48 closed

[2018-03-05 21:35] #52 closed

[2018-03-05 21:35] #53 closed

[2018-03-05 21:35] #41 closed

[2018-03-05 21:35] #46 closed

[2018-03-05 21:36] #40 closed

[2018-03-28 13:26] P-L0 commented on #52
How you solve this, I put key in examples/index.php and configuration/default.php but still dont work. I have error message :

unable to find example ()

[2018-03-28 13:27] P-L0 commented on #53
How you solve this thanks

[2018-05-28 18:11] miterial opened #54 "Movie Directors - class Person error"
There's an error - Cannot use object of type Person as array - when i try to get directors' ids with Movie::getDirectorsIds(), so it's necessary to add Credits class

[2018-05-29 09:41] bogdanfinn commented on #54
@miterial
I opened a PR. After this one is merged the function should work correctly.

[2018-08-19 18:27] #54 closed

[2018-11-13 13:56] omar-mohamed23 opened #57 "Undefined index: movie_credits"
Hi, is it possible to get cast and crew of movie Persons in the same function like getCredits(); ? I need to create a page with both cast and crew and the role of each person only ? also when I use this code to get all the cast member with their role on the movie it show me the first 40 correct with their role but then i get Undefined index: movie_credits & Invalid argument supplied for foreach()

[2018-11-13 14:14] bogdanfinn commented on #57
Hey @omar-mohamed23
Is it really a use case to get the cast and the crew in one function call? You can make two calls and you have your required data.

But yeah it is possible. But a little bit harder:
Every Object extending the ApiBaseObject has a general get() function. You can make something like this:
[code]
But attention: When you use the get() call you receive the API Response. Not Model Ins

[2018-11-13 14:29] omar-mohamed23 commented on #57
First thing Thanks for your fast reply :)
can you please give me an example on my code how to specify the appended field ? I checked the settings and they are the default. What confuse me that in this example I used on Deadpool 2 the result is what I need but it only show me the first 40 characters when I checked the original array from TMDB I think it stop showing character for the crew array in

[2018-11-13 14:58] bogdanfinn commented on #57
Your code works. It loads only the Cast not the Crew. When want both try something like this:

[code]

I tried it with deadpool 2 and it renders every crew member and every actor in my case. As i mentioned in my previous comment you have to specify your "append to response"-fields for the tmdb api. That you can do in the default configuration (if you use it).
Let me explain it: If you want to load

[2018-11-13 15:09] omar-mohamed23 commented on #57
@bogdanfinn Really Thank you for your help
I get the error on my test VPS when I try the code but on my localhost XAMPP server it works fine. I think it might be an error with my PHP setup on my VPS.
Thanks again for your help :)

[2018-11-13 15:46] #57 closed

[2018-11-14 20:42] omar-elhamedy opened #58 "How to get Movie/TV/Person search page ?"
How to get the pages for search so I can connect it to my URL&page=(the number of the search page) ?
I tried to edit this part but I got an error and the same results when I passed the Page number? could you please help me with this ?

[code]

**The Error**

`Warning: Invalid argument supplied for foreach() in ...\controller\classes\config\Configuration.php on line 48`

Thanks

[2018-11-15 04:34] iBringit commented on #58
you need to supply an array for foreach statement, instead you are providing a key value..

try

foreach ($result as $data)

// then fetch the results here

remember $result returns an array you can fetch within the foreach statement as $ data

[2018-11-15 18:46] omar-mohamed23 commented on #58
Hi @iBringit  Thanks for your reply,
Please take a look at this code

[code]

This code only show me the search result for the first page only from the API and I want to make a pagination on my website with each page show the results associated with the page number .

[2019-07-09 04:58] armansr opened #60 "No ../tmdb-api.php file included, on this code"
include("../tmdb-api.php");

update this file where i get this file

[2019-07-14 08:46] bogdanfinn commented on #60
Sorry, looks like the Filename was changes to TMDB.php and the examples are not updated.
See this Commit:
https://github.com/pixelead0/tmdb_v3-PHP-API-/commit/8559c67ca203b5b4632d49dd3b541c4eb6c1712d

You can modify the line:
[code]
To
[code]

Or rename the `TMDB.php` File in the root directory of this repository.

[2019-07-14 13:51] #60 closed

[2019-07-14 13:54] #58 closed

[2019-09-08 07:35] asifagaria opened #61 "Errer Showing"
Fatal error: Class 'ApiBaseObject' not found in C:\xampp\htdocs\tmdb\controller\classes\data\Movie.php on line 12

[2019-09-08 08:05] bogdanfinn commented on #61
Seems like this has something to do with the namespacing and composer.json stuff ...
Will look into it later and try to fix it.

[2020-02-10 13:51] isarjanfaza commented on #61
hi
I also have a problem with what to do

[2020-02-10 13:52] isarjanfaza commented on #61
Fatal error: Class 'ApiBaseObject' not found in /public_html/tmdb/controller/classes/data/Movie.php on line 12

[2020-05-13 08:55] TimTim74 commented on #61
I get the same problem. Even the examples give the same error:

Fatal error: Class 'ApiBaseObject' not found in /var/www/html/projects/tmdb-api/controller/classes/data/Movie.php on line 12

[2020-05-16 11:20] ChrisTERiS commented on #61
Same fatal error (Class 'ApiBaseObject' not found) not only to Movie.php but to all.
And as it's already 8 full months since the first bug report, seems that nobody is interest to fix it.
If you've abandoned this (very promising) class, is more fair to remove it, respecting the time that someone waste for download, install, and testing it.

[2020-05-16 17:17] bogdanfinn commented on #61
@asifagaria @isarjanfaza @TimTim74 @ChrisTERiS
I pushed a temporary fix for the problem on my fork here:
https://github.com/bogdanfinn/tmdb_v3-PHP-API-

The examples are working if you check out this version and add your TMDB Api Key in the `configuration/default.php` file. Maybe you have to adjust the config, depending on the data you want to query. There is also a `configuration/all.php` file.

[2020-05-16 17:20] bogdanfinn commented on #61
and yeah the error has nothing to do with the class itself.
an important line was removed due to a merge conflict. this line imported the class. that was the actual error ;-)

[2020-05-16 17:25] ChrisTERiS commented on #61
@bogdanfinn
I'm still getting error when I applied your new code. But maybe I need to double check the files again.
Before your post, I've added at the top of require:
`require ("controller/classes/data/ApiBaseObject.php");`
but then I was getting error:
Fatal error: Cannot declare class ApiBaseObject, because the name is already in use

[2020-05-16 17:34] ChrisTERiS commented on #61
Ok, now it works :) Have did so many changes in the code trying to fix it. The best that I had succeeded to get is the example page but without submenus :)
I was so in rush that I post a micro project to Freelancer . com :)

[2020-05-16 17:38] ChrisTERiS commented on #61
@bogdanfinn Are you getting custom (paid) examples coding of this class?

[2020-05-16 18:34] bogdanfinn commented on #61
@ChrisTERiS glad to read that it works now.
i used this library a long time ago as a base for a private project.

what examples do you need? maybe i could explain how to code it or add them to the repo if i find time.

[2020-05-18 06:17] TimTim74 commented on #61
My solution was to this this repo: https://github.com/femotizo/tmdb_v3-PHP-API-. Maybe not the latest, but it does what I need perfectly.

[2020-07-04 17:18] Hellsangels opened #62 "List of film genres"
I looked a little at the codes and I tried the one you offer
foreach($movie->getGenres() as $genre){ echo $genre->getName(); }

But I have an error that I cannot resolve
Notice: Trying to access array offset on value of type int in C:\wamp64\www\tmdb_v3-PHP-API--master\controller\classes\data\Genre.php on line 49

Can you help me I just have that to finish my script, thank you in advance

[2020-07-04 20:52] bogdanfinn commented on #62
Hello @Hellsangels
where is the code provided you mentioned in the beginning? can't find it in the examples of this repository.

Nevertheless your code example and your error message are somehow not related.
In your code you iterate over the genres of a movie (when they exist) and print the name of the genre.
But your error message is for getting the Id of a Genre.

Maybe you can provide further d

[2020-07-04 21:03] bogdanfinn commented on #61
@ChrisTERiS
Sorry for the late reply. My Github did not show me any answers to this issue.

1) For this we already have examples in this repo i think. Except of the MySQL database part. Personally i would not want to implement examples for the persistence layer because this is a dependency and has nothing to do with this repository (in my opinion). This repository is just about receiving data not

[2020-07-04 22:39] Hellsangels commented on #62
the error reports this code to me Genre.php line 49
return $this->_data['id'];

What I want to do is display the Genres. But in Movie.php this $this->_data['genres'] code gives me this error!
Undefined index: genres in C:\wamp64\www\tmdb_v3-PHP-API--master\controller\classes\data\Movie.php on line 106

And if I put this $ this->_data['genre_ids'] it is this error
 Trying to access array offset on

[2020-07-04 22:46] bogdanfinn commented on #62
Is it the Detail of a Movie or for example a search result of a movie? Are you iterating over a movie list?

From which endpoint do you get your movie / movies?
For example when you first search for a movie by keyword and receive a movie list and then want to display the genres of each movie (search result) then you only have the genre ids.

Will look into this Genre thing and hopefully provide an

[2020-07-05 07:04] Hellsangels commented on #62
It’s while searching for a movie, so it’s just the genre IDs that it displays ,? If so, what would be nice is that with genre IDs we can have a list of genres.

You were talking about it here (https://github.com/pixelead0/tmdb_v3-PHP-API-/issues/40) and it is on this discussion that I tried to display the genres, but I had not seen that it was just on the info of a film and not the research

[2020-07-05 08:54] bogdanfinn commented on #62
@Hellsangels
You can have a look into the official API Docs.

Movie Details:
https://developers.themoviedb.org/3/movies/get-movie-details

Movies in Search Results:
https://developers.themoviedb.org/3/search/search-movies

Look into the Responses. There you will see that on the Details Endpoint you receive the Genres Array on the Search Endpoint only an Array of Genre Ids.

That means when you wan

[2020-07-05 09:30] bogdanfinn commented on #62
@Hellsangels
I added some examples for genres in my latest commit on my fork check them out:
https://github.com/bogdanfinn/tmdb_v3-PHP-API-

But fetchig the genre details is only one API call. See the examples. then you receive a list of genres and you only need to filter the genres you are intereted in. You dont have to do an api call for each genre

[2020-07-05 15:30] Hellsangels commented on #62
Ok thank you I will go see the details of the API. And sorry for the inconvenience because actually during the search we only have the gender IDs.

[2020-07-11 07:01] Hellsangels opened #63 "Empty youtube video problem"
Hello

I have a problem with the youtube video displays. When the video exists in a film no worries everything works fine. The problem comes when there is no id of the youtube video I have this error
`Notice: Undefined offset: 0 in C:\wamp64\www\pacaprez\engine\inc\class\api\tmdb\controller\classes\data\Movie.php on line 184`

Here is the code in question for the error
`	/**
	 * 	Get the Movie's t

[2020-07-11 11:47] bogdanfinn commented on #63
@Hellsangels i fixed the undefined offset issue on my fork `bogdanfinn/tmdb_v3-PHP-API-`
Nevertheless you have to check if the trailer is empty or not.

I added an example how to check for empty trailer in the infoMovie.php  ;-) Check the commit out

[2020-07-11 12:31] pixelead0 commented on #62
@bogdanfinn Can you do a pull request?

[2020-07-11 13:11] Hellsangels commented on #63
I looked at the infomovie.php file and I didn't see any verification. Because the film I'm showing has no video, it's empty. So I thought of an if but it doesn't work

[2020-07-11 17:32] Hellsangels commented on #63
Ok I found my answer here https://github.com/alvaro-octal/TMDB-PHP-API/commit/e945a75adc594c23f70504d2eda27f347f8fb78e I think you could update the file

[2020-07-12 09:23] bogdanfinn commented on #62
@pixelead0 created one for all 3 open issues

[2020-10-12 06:14] asifagaria opened #68 "how to show movie certification"
how to show movie certification

[2020-10-12 11:04] asifagaria opened #69 "setAPIKey not working"
$tmdb->setAPIKey('YOUR_API_KEY');

[2020-10-14 05:52] #69 closed

[2020-10-21 06:33] ChrisTERiS commented on #61
Hello Captain 😊

Can I ask you something if you don’t mind? Is it possible to add a function to TVShow.php to get the cast ids for a TVShow and then add a foreach loop to tvshowsExample.php to display the id + name of the actor?

I don’t want to confuse things more by asking for crew. Just Cast is fine for me.

Don’t know how heavy work is what I’m asking for, but if you want it as paid job, pleas

[2020-10-25 11:42] ChrisTERiS opened #70 "Trailer in TV Show"
Have copied the code below from Movie class to TVShow class and then I tried to display it on the page with $tvShow->getTrailer(); but nothing appear there. I know that this will (if) display only the filename, but is ok for me.

`
	/**
	 * 	Get the TVShow's trailers
	 *
	 * 	@return array
	 */

	public function getTrailers() {
		return $this->_data['trailers'];
	}

	/**
	 * 	Get the TVShow's trai

[2020-10-25 12:16] bogdanfinn commented on #70
@ChrisTERiS
For TVShows you probably have more than one Trailer. Sometimes one for each season.

Added a `getTrailers()` to TVShows and extended the examples on my fork. Will create a merge request soon.

[2020-10-25 12:19] bogdanfinn commented on #61
@ChrisTERiS
Please Check `/examples/movies/infoMovie.php` and `/examples/tvshows/infoTVShow.php` i already created examples for Cast & Crew on both, Movies and TVShows.

@pixelead0 we should close this issue, because it is actually done.

[2020-10-25 12:20] bogdanfinn commented on #63
@pixelead0 issue can be closed

[2020-10-25 12:20] bogdanfinn commented on #62
@pixelead0 issue can be closed

[2020-10-25 15:03] ChrisTERiS commented on #70
Yes, you're right? Don't remember if I read it at TMDb site but now except the "Trailer", have video types "Teaser" and "Behind the scene".

With my experience, I believe that the "Teaser" type is the good one if someone want to show just one video. Teaser is the global video for a TV Show while Trailers can be one per episode.

Thank you for your help. I'll wait the improved version.

[2020-10-25 17:53] ChrisTERiS commented on #70
Just seen in your link before that you had already post the changes. I did all the changes, except the one in configuration/all.php as video already exist as parameter at the end of the line.

Now the link to trailer works, but as I want to display it inline the page, I'll use $trailer['key'] for it.

Thank you so much for your help. Really appreciated !!

[2020-10-26 07:37] ChrisTERiS opened #72 "Num of episodes in seasons loop"
Hello,

Any idea why the code below in infoTVShow.php return 0 as amount of episodes in seasons loop?
`
echo '<li>Seasons:
    <ul>';
		$seasons = $tvShow->getSeasons();
		foreach ($seasons as $season) {
			echo '<li><a href="https://www.themoviedb.org/tv/season/'.$season->getID().'">Season '.$season->getSeasonNumber().'</a></li>
			<li>Air Date: '.$season->getAirDate().'</li>
			<li>Episodes: '.$

[2020-10-26 07:51] ChrisTERiS commented on #72
I found a trick to solve this, but I don't think that is a quality code. Added at the top of foreach loop
`
$season_data = $tmdb->getSeason($tvShow->getID(), $season->getSeasonNumber());
`
and then:
`
<li>Episodes: '.$season_data->getNumEpisodes().'</li>
`

[2020-10-29 07:10] bogdanfinn commented on #72
@ChrisTERiS

Added a getEpisodeCount() to Seasons when you are in a tvShow Scope. Your first solutions would be correct, when you fetch the Season Details but you are coming from tvShow Details. Therefore the season has not all detail information.

Pushed on my fork and created a merge request for that. Also added an example in infoTVShow.php how to iterate over $seasons and display episode count;

[2020-10-29 07:11] bogdanfinn commented on #68
@asifagaria
Sorry i do not get it. what do you mean with movie certification?

[2020-10-29 07:37] ChrisTERiS commented on #72
I really appreciate your help and support. THANK YOU !!

[2020-10-29 08:53] asifagaria commented on #68
Motion picture content rating

G PG 18+

[2020-10-29 09:02] asifagaria opened #73 "episodes images not working"
episodes images not working

[2020-10-29 09:52] ChrisTERiS commented on #68
Is it possible to have an auto-suggest search form using jQuery?

[2020-10-29 10:35] #73 closed

[2020-10-29 10:35] asifagaria commented on #73
slove this

[2020-11-03 03:07] #61 closed

[2020-11-03 03:12] pixelead0 commented on #63
Thanks @bogdanfinn

[2020-11-03 03:12] #63 closed

[2020-11-03 03:13] pixelead0 commented on #62
thanks @bogdanfinn

[2020-11-03 03:13] #62 closed

[2020-11-07 20:40] aruznieto opened #74 "I cant get the backdrop"
How can I get backdrop of a Movie?

![image](https://user-images.githubusercontent.com/40019177/98450972-d0868600-2141-11eb-94de-75136e710503.png)

It doen´t work...

[2020-11-08 15:19] ChrisTERiS commented on #74
Try this:
`
echo '<img src="'. $tmdb->getImageURL('w780') . $movie->getBackdrop() .'"/><br>';
`

[2021-04-03 20:29] nvsmith34 opened #75 "getImageURL not working"
When I call getImageURL() to get an image, I receive the error:

 PHP Warning:  Undefined array key "images" in /srv/http/StreamableTest/tmdb_v3-PHP-API--master/controller/classes/config/APIConfiguration.php on line 40

why would 'images' not be defined?

[2021-06-26 06:42] ChrisTERiS opened #77 "Get Production (Aired) Year for TV Show"
Hello,

Is there any way to get the production year (first year release) of a TV Show?

Thank you
Chris

[2021-08-09 11:11] mpol12 opened #78 "How do I get the [character] each actor played in the movie??"
Hi,
I successfully got all movie details along with the getCast() array which includes all movie actors along with their information. Among this information is the Character the actor plays in the movie.
How do I get this information??

For example for movie "The Suicide Squad (2021)" with tmdb_id 436969..
This is the info I get for the first actor
Array
(
    [0] => Person Object
        (

[2021-11-08 08:24] ChrisTERiS opened #79 "Auto suggest in search"
This is not an issue, but don't know why I can't post in Request.
Have anybody succeeded to implement auto suggestion functionality in search?

Thank you
Chris

[2022-01-10 21:16] Cameron41 opened #80 "A missed quote in README.markdown"
Hello, it would seems a missed quote in README.markdown file :

<?php
	//Title to search for
	$title = 'back to the future';
	$movies = $tmdb->searchMovie($title);
	// returns an array of Movie Object
	foreach($movies as $movie){
		echo $movie->getTitle() .'<br>    /!\ HERE /!\    ;
	}
?>

[2022-05-09 05:43] lyarinet opened #81 "getJSON stop working"
echo $film_id->getJSON();

not working and tv imdb not get

[2022-09-17 16:59] xoceunder opened #82 "this genre data"
this genre data

[2022-10-16 23:32] kevingorman1000 opened #83 "Error Handler"
When doing a `$tmdb->getMovie($movieId);`, what is the best way to return false if said movie doesn't exist?

For example, `$tmdb->getMovie(asdasdas);` would return false as `asdasdas` wouldn't be a valid movie ID.